// ---------------------------------
// =spacing utilities
// ---------------------------------

// ---------------------------------
// variables
// ---------------------------------

$breakpoints-map: (
  "small": "all and (min-width: 500px)",
  "medium": "all and (min-width: 760px)",
  "large": "all and (min-width: 1024px)",
  "xlarge": "all and (min-width: 1440px)",
) !default;

$spacing-map: (
  "none": 0,
  "xxs": 3px,
  "xs": 6px,
  "s": 12px,
  "m": 18px,
  "l": 24px,
  "xl": 30px,
  "xxl": 42px,
) !default;

// ---------------------------------
// base classes
// ---------------------------------

@each $name, $value in $spacing-map {
  // margins
  .u-mt-#{$name} {
    margin-top: $value !important;
  }
  .u-mr-#{$name} {
    margin-right: $value !important;
  }
  .u-mb-#{$name} {
    margin-bottom: $value !important;
  }
  .u-ml-#{$name} {
    margin-left: $value !important;
  }

  // paddings
  .u-pt-#{$name} {
    padding-top: $value !important;
  }
  .u-pr-#{$name} {
    padding-right: $value !important;
  }
  .u-pb-#{$name} {
    padding-bottom: $value !important;
  }
  .u-pl-#{$name} {
    padding-left: $value !important;
  }
}

// ---------------------------------
// responsive classes
// ---------------------------------

@each $breakpoint, $query in $breakpoints-map {
  @each $name, $value in $spacing-map {
    @media #{$query} {
      // margins
      .u-mt-#{$name}\@#{$breakpoint} {
        margin-top: $value !important;
      }
      .u-mr-#{$name}\@#{$breakpoint} {
        margin-right: $value !important;
      }
      .u-mb-#{$name}\@#{$breakpoint} {
        margin-bottom: $value !important;
      }
      .u-ml-#{$name}\@#{$breakpoint} {
        margin-left: $value !important;
      }

      // paddings
      .u-pt-#{$name}\@#{$breakpoint} {
        padding-top: $value !important;
      }
      .u-pr-#{$name}\@#{$breakpoint} {
        padding-right: $value !important;
      }
      .u-pb-#{$name}\@#{$breakpoint} {
        padding-bottom: $value !important;
      }
      .u-pl-#{$name}\@#{$breakpoint} {
        padding-left: $value !important;
      }
    }
  }
}
