/* ---------------------------------
=fonts
--------------------------------- */

@font-face {
  font-family: "Inter";
  /*prettier-ignore*/
  src: url(../fonts/inter-variable.woff2) format("woff2") tech("variations"),
       url(../fonts/inter-variable.woff2) format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}
