// ---------------------------------
// =button
// ---------------------------------

.c-button {
  cursor: pointer;
  display: inline-block;
  padding: calc(14 / 16 * 1rem) calc(30 / 16 * 1rem);
  border-radius: 6px;

  border: 2px solid var(--color-brand);
  background-color: var(--color-brand);
  color: var(--color-white);

  font-weight: 500;
  font-size: calc(18 / 16 * 1rem);
  line-height: calc(18 / 16);
  font-family: var(--fontstack-main);
  text-decoration: none;

  transition: border-color 0.2s ease-out, background-color 0.2s ease-out;
}

.c-button:hover {
  border-color: var(--color-brand-dark);
  background-color: var(--color-brand-dark);
  color: var(--color-white);
  text-decoration: none;
}

.c-button--invert {
  border-color: rgba(255, 255, 255, 0.48);
  background-color: transparent;
  color: var(--color-white);
}

.c-button--invert:hover {
  border-color: rgba(255, 255, 255, 0.72);
  background-color: transparent;
  color: var(--color-white);
}
