// ---------------------------------
// =contact list
// ---------------------------------

.c-contactlist {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: calc(3 / 16 * 1rem);
}

.c-contactlist__link {
  color: var(--color-text-invert);
  text-decoration: none;

  font-weight: 400;
  font-size: calc(22 / 16 * 1rem);

  @include breakpoint(medium) {
    font-size: calc(26 / 16 * 1rem);
  }

  @include breakpoint(large) {
    font-size: calc(28 / 16 * 1rem);
  }
}

.c-contactlist__link:hover,
.c-contactlist__link:focus {
  text-decoration: underline;
  text-underline-offset: 6px;

  text-decoration-color: rgba(255, 255, 255, 0.5);
}
