// ---------------------------------
// =call to action
// ---------------------------------

.c-cta {
  font-weight: 500;
  color: var(--color-brand-dark);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 7px;
  text-decoration-color: var(--color-brand-dark);

  &:hover {
    text-decoration-color: rgba(11, 100, 181, 0.5);
  }
}

.c-cta--inverse {
  color: var(--color-text-inverse);
  text-decoration-color: var(--color-text-inverse);

  &:hover {
    text-decoration-color: rgba(255, 255, 255, 0.5);
  }
}
