// ---------------------------------
// =home introduction
// ---------------------------------

.c-homeintro {
  display: grid;
  grid-template-columns: minmax(0, 1fr);

  @include breakpoint(medium) {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    column-gap: 54px;
  }

  @include breakpoint(xlarge) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 84px;
  }
}
