// ---------------------------------
// =site footer
// ---------------------------------

.c-sitefooter {
  background-color: var(--color-brand);
  color: var(--color-text-invert);
  padding-top: calc(42 / 16 * 1rem);
  padding-bottom: calc(24 / 16 * 1rem);

  @include breakpoint(medium) {
    padding-top: calc(60 / 16 * 1rem);
  }

  @include breakpoint(large) {
    padding-top: calc(90 / 16 * 1rem);
  }

  @include breakpoint(xlarge) {
    padding-top: calc(120 / 16 * 1rem);
  }
}

.c-sitefooter__content {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: calc(24 / 16 * 1rem);

  @include breakpoint(medium) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: calc(36 / 16 * 1rem);
  }
}

.c-sitefooter__contact {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}

.c-sitefooter__social {
  grid-column: 7 / 13;
  grid-row: 1 / 2;
}

.c-sitefooter__address {
  grid-column: 1 / 7;
  grid-row: 2 / 3;

  @include breakpoint(large) {
    grid-column: 1 / 5;
  }
}

.c-sitefooter__mainnav {
  grid-column: 7 / 10;
  grid-row: 2 / 3;

  @include breakpoint(large) {
    grid-column: 5 / 9;
  }
}

.c-sitefooter__legalnav {
  grid-column: 10 / 13;
  grid-row: 2 / 3;

  @include breakpoint(large) {
    grid-column: 9 / 13;
  }
}

.c-sitefooter__end {
  padding-top: calc(24 / 16 * 1rem);
  border-top: 1px solid rgba(255, 255, 255, 0.18);

  grid-column: 1 / -1;
  grid-row: 3 / 4;
}
