---
permalink: case-study/index.html
---
{% extends "layouts/base.njk" %}

{% set currentSection = "cases" %}

{% block content %}
  <main>
    <div class="c-pagesection">
      <div class="l-container">

        hello world

      </div>
    </div>
  </main>
{% endblock %}