---
permalink: case-studies/index.html
---
{% extends "layouts/base.njk" %}

{% set currentSection = "cases" %}

{% set metaTitle = "Case Studies" %}
{% set metaDescription = "A selection of web projects we worked on with clients" %}

{% block content %}
  <main>
    <div class="c-pagesection  c-pagesection--brand">
      <div class="l-container">
        <h1 class="c-pagetitle">A selection of web projects, <span>big</span> and <span>small</span>.</h1>
      </div>
    </div>
    <div class="c-pagesection">
      <div class="l-container">
          
          <div class="c-categories">
            <nav>
              <h2 class="c-categories__title">Type of work</h2>
              <ul class="c-catlist">
                <li class="c-catlist__item"><a class="c-catlist__link  is-current" href="#">All types</a></li>
                <li class="c-catlist__item"><a class="c-catlist__link" href="#">Education</a></li>
                <li class="c-catlist__item"><a class="c-catlist__link" href="#">Art and culture</a></li>
                <li class="c-catlist__item"><a class="c-catlist__link" href="#">Communication</a></li>
                <li class="c-catlist__item"><a class="c-catlist__link" href="#">Healthcare</a></li>
                <li class="c-catlist__item"><a class="c-catlist__link" href="#">Media</a></li>
                <li class="c-catlist__item"><a class="c-catlist__link" href="#">Science and research</a></li>
              </ul>
            </nav>
          </div>

          <ul class="l-grid  l-grid--auto">
            <li>

              <article class="c-projectcard">
                <a class="c-projectcard__link" href="/case-study/">
                  <p class="c-projectcard__media">
                    <img src="https://source.unsplash.com/oqY09oVTa3k/450x600"
                        srcset="https://source.unsplash.com/oqY09oVTa3k/450x600 450w
                                https://source.unsplash.com/oqY09oVTa3k/600x800 800w"
                        sizes="(min-width: 1500px) 345px,
                               (min-width: 1024px) 25vw
                               (min-width: 500px) 50vw,
                               100vw"
                        class="o-fluidimg"
                        width="600"
                        height="800"
                        alt="">
                  </p>
                  <div class="c-projectcard__body">
                    <h3 class="c-projectcard__title">Institut des Arts de Diffusion</h3>
                    <p class="c-projectcard__tagline">Rebranding an art school</p>
                  </div>
                </a>
              </article>
      
            </li>
            <li>
      
              <article class="c-projectcard">
                <a class="c-projectcard__link" href="/case-study/">
                  <p class="c-projectcard__media">
                    <img src="https://source.unsplash.com/BteCp6aq4GI/450x600"
                        srcset="https://source.unsplash.com/BteCp6aq4GI/450x600 450w
                                https://source.unsplash.com/BteCp6aq4GI/600x800 800w"
                        sizes="(min-width: 1500px) 345px,
                               (min-width: 1024px) 25vw
                               (min-width: 500px) 50vw,
                               100vw"
                        class="o-fluidimg"
                        width="600"
                        height="800"
                        alt="">
                  </p>
                  <div class="c-projectcard__body">
                    <h3 class="c-projectcard__title">Name of the project</h3>
                    <p class="c-projectcard__tagline">Short Description</p>
                  </div>
                </a>
              </article>
      
            </li>
            <li>
      
              <article class="c-projectcard">
                <a class="c-projectcard__link" href="/case-study/">
                  <p class="c-projectcard__media">
                    <img src="https://source.unsplash.com/AHF_ZktTL6Q/450x600"
                        srcset="https://source.unsplash.com/AHF_ZktTL6Q/450x600 450w
                                https://source.unsplash.com/AHF_ZktTL6Q/600x800 800w"
                        sizes="(min-width: 1500px) 345px,
                               (min-width: 1024px) 25vw
                               (min-width: 500px) 50vw,
                               100vw"
                        class="o-fluidimg"
                        width="600"
                        height="800"
                        alt="">
                  </p>
                  <div class="c-projectcard__body">
                    <h3 class="c-projectcard__title">Name of the project</h3>
                    <p class="c-projectcard__tagline">Short Description</p>
                  </div>
                </a>
              </article>
      
            </li>
            <li>

              <article class="c-projectcard">
                <a class="c-projectcard__link" href="/case-study/">
                  <p class="c-projectcard__media">
                    <img src="https://source.unsplash.com/oqY09oVTa3k/450x600"
                        srcset="https://source.unsplash.com/oqY09oVTa3k/450x600 450w
                                https://source.unsplash.com/oqY09oVTa3k/600x800 800w"
                        sizes="(min-width: 1500px) 345px,
                               (min-width: 1024px) 25vw
                               (min-width: 500px) 50vw,
                               100vw"
                        class="o-fluidimg"
                        width="600"
                        height="800"
                        alt="">
                  </p>
                  <div class="c-projectcard__body">
                    <h3 class="c-projectcard__title">Institut des Arts de Diffusion</h3>
                    <p class="c-projectcard__tagline">Rebranding an art school</p>
                  </div>
                </a>
              </article>
      
            </li>
            <li>
      
              <article class="c-projectcard">
                <a class="c-projectcard__link" href="/case-study/">
                  <p class="c-projectcard__media">
                    <img src="https://source.unsplash.com/BteCp6aq4GI/450x600"
                        srcset="https://source.unsplash.com/BteCp6aq4GI/450x600 450w
                                https://source.unsplash.com/BteCp6aq4GI/600x800 800w"
                        sizes="(min-width: 1500px) 345px,
                               (min-width: 1024px) 25vw
                               (min-width: 500px) 50vw,
                               100vw"
                        class="o-fluidimg"
                        width="600"
                        height="800"
                        alt="">
                  </p>
                  <div class="c-projectcard__body">
                    <h3 class="c-projectcard__title">Name of the project</h3>
                    <p class="c-projectcard__tagline">Short Description</p>
                  </div>
                </a>
              </article>
      
            </li>
            <li>
      
              <article class="c-projectcard">
                <a class="c-projectcard__link" href="/case-study/">
                  <p class="c-projectcard__media">
                    <img src="https://source.unsplash.com/AHF_ZktTL6Q/450x600"
                        srcset="https://source.unsplash.com/AHF_ZktTL6Q/450x600 450w
                                https://source.unsplash.com/AHF_ZktTL6Q/600x800 800w"
                        sizes="(min-width: 1500px) 345px,
                               (min-width: 1024px) 25vw
                               (min-width: 500px) 50vw,
                               100vw"
                        class="o-fluidimg"
                        width="600"
                        height="800"
                        alt="">
                  </p>
                  <div class="c-projectcard__body">
                    <h3 class="c-projectcard__title">Name of the project</h3>
                    <p class="c-projectcard__tagline">Short Description</p>
                  </div>
                </a>
              </article>
      
            </li>
            <li>

              <article class="c-projectcard">
                <a class="c-projectcard__link" href="/case-study/">
                  <p class="c-projectcard__media">
                    <img src="https://source.unsplash.com/oqY09oVTa3k/450x600"
                        srcset="https://source.unsplash.com/oqY09oVTa3k/450x600 450w
                                https://source.unsplash.com/oqY09oVTa3k/600x800 800w"
                        sizes="(min-width: 1500px) 345px,
                               (min-width: 1024px) 25vw
                               (min-width: 500px) 50vw,
                               100vw"
                        class="o-fluidimg"
                        width="600"
                        height="800"
                        alt="">
                  </p>
                  <div class="c-projectcard__body">
                    <h3 class="c-projectcard__title">Institut des Arts de Diffusion</h3>
                    <p class="c-projectcard__tagline">Rebranding an art school</p>
                  </div>
                </a>
              </article>
      
            </li>
            <li>
      
              <article class="c-projectcard">
                <a class="c-projectcard__link" href="/case-study/">
                  <p class="c-projectcard__media">
                    <img src="https://source.unsplash.com/BteCp6aq4GI/450x600"
                        srcset="https://source.unsplash.com/BteCp6aq4GI/450x600 450w
                                https://source.unsplash.com/BteCp6aq4GI/600x800 800w"
                        sizes="(min-width: 1500px) 345px,
                               (min-width: 1024px) 25vw
                               (min-width: 500px) 50vw,
                               100vw"
                        class="o-fluidimg"
                        width="600"
                        height="800"
                        alt="">
                  </p>
                  <div class="c-projectcard__body">
                    <h3 class="c-projectcard__title">Name of the project</h3>
                    <p class="c-projectcard__tagline">Short Description</p>
                  </div>
                </a>
              </article>
      
            </li>
            <li>
      
              <article class="c-projectcard">
                <a class="c-projectcard__link" href="/case-study/">
                  <p class="c-projectcard__media">
                    <img src="https://source.unsplash.com/AHF_ZktTL6Q/450x600"
                        srcset="https://source.unsplash.com/AHF_ZktTL6Q/450x600 450w
                                https://source.unsplash.com/AHF_ZktTL6Q/600x800 800w"
                        sizes="(min-width: 1500px) 345px,
                               (min-width: 1024px) 25vw
                               (min-width: 500px) 50vw,
                               100vw"
                        class="o-fluidimg"
                        width="600"
                        height="800"
                        alt="">
                  </p>
                  <div class="c-projectcard__body">
                    <h3 class="c-projectcard__title">Name of the project</h3>
                    <p class="c-projectcard__tagline">Short Description</p>
                  </div>
                </a>
              </article>
      
            </li>
            <li>

              <article class="c-projectcard">
                <a class="c-projectcard__link" href="/case-study/">
                  <p class="c-projectcard__media">
                    <img src="https://source.unsplash.com/oqY09oVTa3k/450x600"
                        srcset="https://source.unsplash.com/oqY09oVTa3k/450x600 450w
                                https://source.unsplash.com/oqY09oVTa3k/600x800 800w"
                        sizes="(min-width: 1500px) 345px,
                               (min-width: 1024px) 25vw
                               (min-width: 500px) 50vw,
                               100vw"
                        class="o-fluidimg"
                        width="600"
                        height="800"
                        alt="">
                  </p>
                  <div class="c-projectcard__body">
                    <h3 class="c-projectcard__title">Institut des Arts de Diffusion</h3>
                    <p class="c-projectcard__tagline">Rebranding an art school</p>
                  </div>
                </a>
              </article>
      
            </li>
            <li>
      
              <article class="c-projectcard">
                <a class="c-projectcard__link" href="/case-study/">
                  <p class="c-projectcard__media">
                    <img src="https://source.unsplash.com/BteCp6aq4GI/450x600"
                        srcset="https://source.unsplash.com/BteCp6aq4GI/450x600 450w
                                https://source.unsplash.com/BteCp6aq4GI/600x800 800w"
                        sizes="(min-width: 1500px) 345px,
                               (min-width: 1024px) 25vw
                               (min-width: 500px) 50vw,
                               100vw"
                        class="o-fluidimg"
                        width="600"
                        height="800"
                        alt="">
                  </p>
                  <div class="c-projectcard__body">
                    <h3 class="c-projectcard__title">Name of the project</h3>
                    <p class="c-projectcard__tagline">Short Description</p>
                  </div>
                </a>
              </article>
      
            </li>
            <li>
      
              <article class="c-projectcard">
                <a class="c-projectcard__link" href="/case-study/">
                  <p class="c-projectcard__media">
                    <img src="https://source.unsplash.com/AHF_ZktTL6Q/450x600"
                        srcset="https://source.unsplash.com/AHF_ZktTL6Q/450x600 450w
                                https://source.unsplash.com/AHF_ZktTL6Q/600x800 800w"
                        sizes="(min-width: 1500px) 345px,
                               (min-width: 1024px) 25vw
                               (min-width: 500px) 50vw,
                               100vw"
                        class="o-fluidimg"
                        width="600"
                        height="800"
                        alt="">
                  </p>
                  <div class="c-projectcard__body">
                    <h3 class="c-projectcard__title">Name of the project</h3>
                    <p class="c-projectcard__tagline">Short Description</p>
                  </div>
                </a>
              </article>
      
            </li>
          </ul>

          <nav aria-label="pagination">
            <ul class="c-pagination">
              <li class="c-pagination__item"><a class="c-pagination__previous" href="#">First</a></li>
              <li class="c-pagination__item"><a class="c-pagination__link  is-active" href="#">1</a></li>
              <li class="c-pagination__item"><a class="c-pagination__link" href="#">2</a></li>
              <li class="c-pagination__item"><a class="c-pagination__next" href="#">Last</a></li>
            </ul>
          </nav>

      </div>
    </div>
  </main>
{% endblock %}