---
permalink: index.html
---
{% extends "layouts/base.njk" %}

{% block content %}
  <div class="c-pagesection">
    <div class="l-container">

      <h1>We don't work for clients, we work with them.</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, soluta? Iusto culpa debitis id, accusamus nesciunt dolorem sapiente natus similique repudiandae corrupti fuga magnam beatae at, quibusdam aperiam architecto soluta.</p>
      <p>
        <a href="#">Latest projects</a>
      </p>

    </div>
  </div>
  <div class="c-fullimage">
    <img src=""
         srcset=""
         sizes=""
         loading="lazy"
         decoding="async"
         width="1500"
         height="844"
         alt="people in the office">
  </div>
  <div class="c-pagesection">
    <div class="l-container">

      <div class="l-split  l-split--4fr8fr">
        <div>
          <h2>What we do</h2>
        </div>
        <div>
          <p>You know your business and clients better than anyone. We know how to present them on the web. Let's do this together.</p>
          <ul>
            <li>
              <h3>Discovery and planning</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore ut, quas nemo ad fuga rerum iusto, quidem veritatis deserunt quos perferendis consequatur doloribus reprehenderit magni cumque omnis! Modi, quam.</p>
            </li>
            <li>
              <h3>Design and prototypes</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore ut, quas nemo ad fuga rerum iusto, quidem veritatis deserunt quos perferendis consequatur doloribus reprehenderit magni cumque omnis! Modi, quam.</p>
            </li>
            <li>
              <h3>Code and interactivity</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore ut, quas nemo ad fuga rerum iusto, quidem veritatis deserunt quos perferendis consequatur doloribus reprehenderit magni cumque omnis! Modi, quam.</p>
            </li>
            <li>
              <h3>Ongoing support</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore ut, quas nemo ad fuga rerum iusto, quidem veritatis deserunt quos perferendis consequatur doloribus reprehenderit magni cumque omnis! Modi, quam.</p>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="c-pagesection">
    <div class="l-container">

      <div class="l-split  l-split--4fr8fr">
        <div>
          <h2>What we do</h2>
        </div>
        <div>
          <p>A small selection of projects we have been working on lately.</p>
        </div>
      </div>

      <ul class="l-grid  l-grid--auto">
        <li>
          <article class="c-project">
            <a class="c-project__link" href="#">
              <div class="c-project__media">
                <img src=""
                     srcset=""
                     sizes=""
                     loading="lazy"
                     decoding="async"
                     width="600"
                     height="800"
                     alt="">
              </div>
              <h3 class="c-project__title">Name of the project</h3>
              <p class="c-oproject__lead">Short Description</p>
            </a>
          </article>
        </li>
        <li>
          <article class="c-project">
            <a class="c-project__link" href="#">
              <div class="c-project__media">
                <img src=""
                     srcset=""
                     sizes=""
                     loading="lazy"
                     decoding="async"
                     width="600"
                     height="800"
                     alt="">
              </div>
              <h3 class="c-project__title">Name of the project</h3>
              <p class="c-oproject__lead">Short Description</p>
            </a>
          </article>
        </li>
        <li>
          <article class="c-project">
            <a class="c-project__link" href="#">
              <div class="c-project__media">
                <img src=""
                     srcset=""
                     sizes=""
                     loading="lazy"
                     decoding="async"
                     width="600"
                     height="800"
                     alt="">
              </div>
              <h3 class="c-project__title">Name of the project</h3>
              <p class="c-oproject__lead">Short Description</p>
            </a>
          </article>
        </li>
      </ul>
      
      <p><a class="c-cta" href="#">See all projects</a></p>

    </div>
  </div>
{% endblock %}