---
permalink: index.html
---
{% extends "layouts/base.njk" %}

{% block content %}
  <div class="c-pagesection  c-pagesection--brand">
    <div class="l-container">

      <h1 class="c-pagetitle">We don't work <span>for</span> clients, we work <span>with</span> them.</h1>

      <div class="c-homeintro">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, soluta? Iusto culpa debitis id, accusamus nesciunt dolorem sapiente natus similique repudiandae corrupti fuga magnam beatae at, quibusdam aperiam architecto soluta.</p>
        <p><a class="c-cta  c-cta--inverse" href="#">Our case studies</a></p>
      </div>

    </div>
  </div>
  <div class="c-banner">
    <img src="/assets/img/banner_home.jpg"
         srcset=""
         sizes=""
         loading="lazy"
         decoding="async"
         width="1500"
         height="844"
         alt="people in the office">
  </div>
  <div class="c-pagesection">
    <div class="l-container">

      <div class="l-split">
        <div class="l-split__title">
          <h2 class="c-smalltitle">What we do</h2>
        </div>
        <div class="l-split__text">
          <p class="c-intro">You know your business and clients, we know a thing or two about the web. Let's do this together!</p>
          
          <ul class="c-vlist  c-vlist--m">
            <li>
              <article class="c-service">
                <h3 class="c-service__title">Discovery and planning</h3>
                <p class="c-service__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore ut, quas nemo ad fuga rerum iusto, quidem veritatis deserunt quos perferendis consequatur doloribus reprehenderit magni cumque omnis! Modi, quam.</p>
              </article>
            </li>
            <li>
              <article class="c-service">
                <h3 class="c-service__title">Discovery and planning</h3>
                <p class="c-service__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore ut, quas nemo ad fuga rerum iusto, quidem veritatis deserunt quos perferendis consequatur doloribus reprehenderit magni cumque omnis! Modi, quam.</p>
              </article>
            </li>
            <li>
              <article class="c-service">
                <h3 class="c-service__title">Discovery and planning</h3>
                <p class="c-service__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore ut, quas nemo ad fuga rerum iusto, quidem veritatis deserunt quos perferendis consequatur doloribus reprehenderit magni cumque omnis! Modi, quam.</p>
              </article>
            </li>
            <li>
              <article class="c-service">
                <h3 class="c-service__title">Discovery and planning</h3>
                <p class="c-service__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore ut, quas nemo ad fuga rerum iusto, quidem veritatis deserunt quos perferendis consequatur doloribus reprehenderit magni cumque omnis! Modi, quam.</p>
              </article>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="c-pagesection">
    <div class="l-container">

      <div class="l-split">
        <div class="l-split__title">
          <h2 class="c-smalltitle">Latest projects</h2>
        </div>
        <div class="l-split__text">
          <p class="c-intro">A small selection of projects we have been working on lately.</p>
        </div>
      </div>

      <ul class="l-grid  l-grid--2cols@small  l-grid--4cols@large">
        <li>
          <article class="c-project">
            <a class="c-project__link" href="#">
              <div class="c-project__media">
                <img src=""
                     srcset=""
                     sizes=""
                     class="o-fluidimg"
                     loading="lazy"
                     decoding="async"
                     width="600"
                     height="800"
                     alt="">
              </div>
              <h3 class="c-project__title">Name of the project</h3>
              <p class="c-project__lead">Short Description</p>
            </a>
          
        </li>
        <li>
          <article class="c-project">
            <a class="c-project__link" href="#">
              <div class="c-project__media">
                <img src=""
                     srcset=""
                     sizes=""
                     class="o-fluidimg"
                     loading="lazy"
                     decoding="async"
                     width="600"
                     height="800"
                     alt="">
              </div>
              <h3 class="c-project__title">Name of the project</h3>
              <p class="c-project__lead">Short Description</p>
            </a>
          </article>
        </li>
        <li>
          <article class="c-project">
            <a class="c-project__link" href="#">
              <div class="c-project__media">
                <img src=""
                     srcset=""
                     sizes=""
                     class="o-fluidimg"
                     loading="lazy"
                     decoding="async"
                     width="600"
                     height="800"
                     alt="">
              </div>
              <h3 class="c-project__title">Name of the project</h3>
              <p class="c-project__lead">Short Description</p>
            </a>
          </article>
        </li>
        <li>
          <article class="c-project">
            <a class="c-project__link" href="#">
              <div class="c-project__media">
                <img src=""
                     srcset=""
                     sizes=""
                     class="o-fluidimg"
                     loading="lazy"
                     decoding="async"
                     width="600"
                     height="800"
                     alt="">
              </div>
              <h3 class="c-project__title">Name of the project</h3>
              <p class="c-project__lead">Short Description</p>
            </a>
          </article>
        </li>
      </ul>
      
      <p><a class="c-cta" href="#">See all projects</a></p>

    </div>
  </div>
{% endblock %}