// ---------------------------------
// =splits
// ---------------------------------

.l-split {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
    "a"
    "b";

  @include breakpoint(medium) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    grid-template-areas: "a b";
    column-gap: var(--gutter);
  }

  @include breakpoint(large) {
    grid-template-columns: minmax(0, 4fr) minmax(0, 7fr) minmax(0, 1fr);
    grid-template-areas: "a b .";
    column-gap: var(--gutter);
  }
}

.l-split__title {
  grid-area: a;
}

.l-split__content {
  grid-area: b;
}
