// ---------------------------------
// =container
// ---------------------------------

.l-container {
  margin: 0 auto;
  padding-left: calc(18 / 16 * 1rem);
  padding-right: calc(18 / 16 * 1rem);
  max-width: 1480px;

  @include breakpoint(medium) {
    padding-left: calc(30 / 16 * 1rem);
    padding-right: calc(30 / 16 * 1rem);
  }
}
