:root {
  --color-green1: #0b6451;
  --color-green2: #1aac8d;
  --color-green3: #cefea9;
  --color-green4: #d6fbf3;

  --color-gray1: #031310;
  --color-gray2: #293634;
  --color-gray3: #4f5a58;
  --color-gray4: #818987;
  --color-gray5: #cdd0cf;
  --color-gray6: #e6e7e7;

  --color-white: #ffffff;

  --color-background: var(--color-white);
  --color-text: var(--color-gray2);
  --color-text-offset: var(--color-gray4);

  --color-brand1: var(--color-green1);
  --color-brand2: var(--color-green2);
  --color-brand3: var(--color-green3);
  --color-brand4: var(--color-green4);
}
