<footer class="c-sitefooter">
  <div class="l-container">

    <div class="c-sitefooter__inner">
    
      <div class="c-sitefooter__contact">
        <p><a href="mailto:hello@zodiak.agency">hello@zodiak.agency</a></p>
        <p><a href="tel:00322345657">+32 2 345 657</a></p>
      </div>
      <div class="c-sitefooter__social">
        <nav>
          <ul>
            <li><a href="#" aria-label="Instragram">{% include "svg/icon_instagram.svg" %}</a></li>
            <li><a href="#" aria-label="Facebook">{% include "svg/icon_facebook.svg" %}</a></li>
            <li><a href="#" aria-label="Twitter">{% include "svg/icon_twitter.svg" %}</a></li>
          </ul>
        </nav>
      </div>
      <div class="c-sitefooter__address">
        <address>
          <p>Zodiak Agency<br>
          Route de Blocry, 5<br>
          1348 Louvain-La-Neuve</p>
        </address>
      </div>
      <div class="c-sitefooter__mainnav">
        <nav>
          <ul id="footernav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
      <div>
      <div class="c-sitefooter__legalnav">
        <nav>
          <ul>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Terms of use</a></li>
          </ul>
        </nav>
      </div>
      <div class="c-sitefooter__end">
        <p>&copy; 2022 - Zodiak Agency</p>
      </div>

    </div>

  </div>
</footer>