<header class="c-siteheader">
  <div class="l-container  c-siteheader__content">

    <p class="c-siteheader__logo"><a href="/"><img class="c-logo" src="/assets/img/logo.svg" alt="Zodiak Agency"></a></p>

    <div class="c-siteheader__mainnav">
      <nav>
        {% for navItem in mainnav %}
          {% if loop.first %}<ul class="c-mainnav">{% endif %}
            {% set currentClass = "" %}
            {% set currentAria = "" %}
            {% if navItem.trigger == currentSection %}
              {% set currentClass = "is-current" %}
              {% set currentAria = 'aria-current="page"' %}
            {% endif %}
            <li class="c-mainnav__item"><a class="c-mainnav__link  {{ currentClass }}" {{ currentAria }} href="{{ navItem.url }}">{{ navItem.label }}</a></li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
      </nav>
    </div>

    <p class="c-siteheader__menunav"><a class="c-menulink  js-menutrigger" href="#footernav">Menu</a></p>
    
  </div>

  {% include "partials/mobilemenu.njk" %}

</header>