<header class="c-siteheader">
  <div class="l-container  c-siteheader__content">

    <p class="c-siteheader__logo"><a href="/"><img class="c-logo" src="/assets/img/logo.svg" alt="Zodiak Agency"></a></p>

    <nav class="c-siteheader__mainnav">
      <ul class="c-mainnav">
        <li class="c-mainnav__item"><a class="c-mainnav__link  is-current" href="#">Home</a></li>
        <li class="c-mainnav__item"><a class="c-mainnav__link" href="#">Case studies</a></li>
        <li class="c-mainnav__item"><a class="c-mainnav__link" href="#">About</a></li>
      </ul>
    </nav>

    <p class="c-siteheader__menunav"><a class="c-menulink  js-menutrigger" href="#footernav">Menu</a></p>
    
  </div>

  {% include "partials/mobilemenu.njk" %}

</header>