<header class="c-siteheader">
  
  <p class="c-siteheader__logo">logo</p>

  <div class="c-siteheader__mainnav">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
    <p><a href="#footernav">Menu</a></p>
  </div>
  
</header>